.contenedorTxtyVid {
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  width: 100%;
  background: var(--fondoGris);
  border-radius: 15px 15px 0px 0px;
  padding: 1%;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.conteinerVideo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: var(--fondoGris);
}

.container-card {
  background-color: var(--fondoGris);
  border-radius: 25px;
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  font-family: "Ubuntu", Courier, monospace;
  color: rgba(90, 11, 11, 0.986);
  font-size: 28px;
  text-align: center;
  text-shadow: 5px 5px 5px red;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(white 40%, rgb(70, 157, 216));
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

img {
  width: 100%;
  height: 210px;
}

.contenido-card {
  padding: 15px;
  text-align: center;
}

h3 {
  margin-bottom: 15px;
  color: #ec1212;
  text-shadow: 5px 5px 5px rgba(109, 104, 104, 0.6235294118);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  line-height: 1.8;
  color: #050505;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}
footer {
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelfooter {
  font-family: "Bitter", Courier, monospace;
  color: rgba(90, 11, 11, 0.986);
  font-size: 28px;
  text-align: center;
  text-shadow: 5px 5px 5px red;
}

.redes-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 15px;
}

ul li {
  display: inline-block;
  margin: 0px 50px;
  height: 50px;
  width: 50px;
  text-align: center;
}
ul a {
  display: block;
  padding: 0 10px;
  background: #333333;
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
ul:hover a {
  filter: blur(2px);
}

li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}
li .facebook:hover {
  background: var(--facebook);
}
li .instagram:hover {
  background: var(--instagram);
}
li .twitter:hover {
  background: var(--twiter);
}
li .youtube:hover {
  background: var(--youtube);
}

.contenedorContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.Contacto {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 320px;
  width: 45%;
  height: 100%;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.7;
  padding-left: 3%;
  padding-right: 2%;
  background-color: var(--fondoGris);
  margin-top: 1%;
  margin-bottom: 3px;
  border-radius: 2%;
}

a {
  font-family: "Cambay", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: rgb(8, 5, 184);
  text-align: left;
  padding-left: 2px;
  padding-right: 3px;
}

.mapaDahua {
  display: flex;
  width: 48%;
  max-width: 1000px;
  min-width: 320px;
  border: #000;
  box-shadow: #333 15px 15px 15px 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --facebook:#3b5999;
  --instagram:#E4405F;
  --twiter:#55acee;
  --youtube:#bd081c;
  --fondoGris:#33333381;
}

body {
  position: relative;
  background-image: url(../img/fondos/fondoIndex.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.navbar {
  display: inline-block;
  height: 80px;
  width: 100%;
}

.logo {
  width: 135px;
  height: 57px;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
  margin-top: -10px;
}

nav ul {
  float: inline-end;
}

li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

a {
  font-family: Georgia, "Times New Roman", Times, serif;
  align-content: space-between;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  padding: 7px 18px;
  width: auto;
}

li a.active, li a:hover {
  transition: 0.5s;
  background-color: #232b33;
}

.checkbtn {
  font-size: 40px;
  color: #f0951f;
  float: right;
  line-height: 90px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 70%;
    height: 70%;
    background: linear-gradient(#26323f, rgb(54, 175, 245));
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
footer {
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelfooter {
  width: 100%;
  font-family: "Bitter", Courier, monospace;
  color: rgba(90, 11, 11, 0.986);
  font-size: 28px;
  text-align: center;
  text-shadow: 5px 5px 5px red;
}

.redes-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 15px;
}

ul li {
  display: inline-block;
  margin: 0px 30px;
  height: 70px;
  width: 200px;
  text-align: center;
}
ul a {
  display: inline-block;
  padding: 0 10px;
  background: var(--fondoGris);
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 7px;
}
ul:hover a {
  filter: blur(2px);
}

li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}
li .facebook:hover {
  background: var(--facebook);
}
li .instagram:hover {
  background: var(--instagram);
}
li .twitter:hover {
  background: var(--twiter);
}
li .youtube:hover {
  background: var(--youtube);
}

p {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 170%;
  text-indent: 4px;
  text-shadow: 3px 3px 3px rgb(24, 24, 24);
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  background: var(--fondoGris);
  width: 100%;
  min-width: 320px;
  margin: auto;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.bannerIndex1 {
  width: 63%;
  margin-right: 15%;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px;
}

.bannerIndex2 {
  width: 65%;
  margin-left: 34%;
  box-shadow: 5px 5px 5px;
  margin-top: 15px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 55%;
  padding: 16px;
  border-radius: 20px;
  margin: auto;
  background-color: var(--fondoGris);
}

label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

input[type=text], input[type=email], input[type=tel] {
  width: 90%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
input[type=submit] {
  cursor: pointer;
  font-family: "Cambay", sans-serif, blue;
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
  position: relative;
  animation-name: animacionBtn;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s;
}
input:hover {
  cursor: pointer;
  color: rgb(255, 174, 0);
}

@keyframes animacionBtn {
  0% {
    background: #2c7e92;
    border-color: #030b81;
  }
  25% {
    border-color: #2c7e92;
    background: #030b81;
  }
  50% {
    background: #2c7e92;
    border-color: #030b81;
  }
  100% {
    border-color: #2c7e92;
    background: #030b81;
  }
}
textarea {
  width: 90%;
  height: 150px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --facebook:#3b5999;
  --instagram:#E4405F;
  --twiter:#55acee;
  --youtube:#bd081c;
  --fondoGris:#33333381;
}

body {
  position: relative;
  background-image: url(../img/fondos/fondoIndex.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}/*# sourceMappingURL=main.css.map */